.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.genre-detail-style{
  margin-left: 20px;
  margin-top: 20px;
}

/* .sideNav{
max-height: 100%;
height: 100vh;
background: beige;
} */
